.grid_container {
  display: grid;

  gap: 1.5rem;
  padding: 1.5rem;
  width: 100%;

  align-content: center;
  animation: fadeInGrid 0.4s ease-out forwards;
}

@keyframes fadeInGrid {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
