.nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  height: 56px;
  color: var(--outline);
  transition: color 0.3s ease;
  overflow: hidden;
}

.item_inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon_wrapper {
  min-width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

.item_inner[data-active='true'] .icon_wrapper::before {
  content: '';
  position: absolute;
  width: 38px;
  height: 38px;
  background: var(--accent-bg);
  border-radius: 0;
  border: 1px solid var(--accent-border);
  z-index: -1;
}

.item_inner[data-active='true'] .icon_wrapper::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--accent);
  filter: blur(15px);
  opacity: 0.5;
  z-index: -2;
}

.icon {
  transition: all 0.3s ease;
}

.item_inner[data-active='true'] .icon {
  color: var(--text-h);
}

.label {
  font-size: var(--font-body-sm);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 1;
  transform: translateX(-10px);
  transition:
    opacity 0.2s ease,
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--outline);
}

.item_inner[data-active='true'] .label {
  color: var(--text-h);
}

.nav_link:hover .label {
  color: var(--text-h);
}
